gpt4all==1.0.8
chromadb==0.4.7
llama-cpp-python==0.1.81
urllib3==2.2.1
PyMuPDF==1.23.5
python-dotenv==1.0.0
unstructured==0.10.8
extract-msg==0.45.0
tabulate==0.9.0
pandoc==2.3
pypandoc==1.11
tqdm~=4.64.1
sentence_transformers==2.2.2
requests~=2.31.0
Flask~=3.0.2
psutil~=5.9.8
ebooklib==0.18
setuptools~=69.1.1
Markdown~=3.5.2
waitress~=3.0.0
pygments==2.17.2
torch~=2.2.0
sympy~=1.12
numpy~=1.26.0rc1
typing_extensions~=4.9.0
overrides~=7.7.0
safetensors~=0.4.2
transformers~=4.38.2
onnxruntime~=1.17.1
scipy~=1.12.0
torchvision~=0.17.0
numba~=0.59.0
packaging~=21.3
colorama~=0.4.5
fsspec~=2024.2.0
pillow~=10.2.0
scikit-learn~=1.4.1.post1
filelock~=3.8.0
sentencepiece~=0.2.0
regex~=2022.9.13
tokenizers~=0.15.2
pandas~=2.2.0
nltk~=3.8.1
beautifulsoup4~=4.12.3
PyYAML~=6.0.1
langchain_community==0.0.27
langchain==0.1.11
torchaudio~=2.2.1
#ollama==0.1.7